*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

